---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: osd_NODENAME
  namespace: rook-ceph
  labels:
    node: NODENAME
    app: osd_pdb
spec:
  minAvailable: OSDCOUNT
  selector:
    matchLabels:
      node: NODENAME
      app: rook-ceph-osd
